.Toastify__toast {
    min-height: 0 !important;
    border-radius: 4px !important;
    padding: 10px 15px !important;
    overflow: hidden;
    font-size: 14px;
    width: 20vh !important;
  }
  .Toastify__toast .Toastify__close-button {
    padding: 10px 0 !important;
  }
  .Toastify__toast .Toastify__progress-bar {
    height: 0.125rem !important;
  }
  .Toastify__toast--info {
    background-color: yellow !important;
  }
  .Toastify__toast--success {
    background-color: green !important;
    color: white !important;
  }
  .Toastify__toast--error {
    background-color: red !important;
    color: white !important;
  }
  .Toastify__toast--default {
    background-color: blue !important;
    color: wheat !important;
  }
  .Toastify__toast-body {
    padding: 15px 0 !important;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .fadeIn {
    animation-name: fadeIn;
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
  .fadeOut {
    animation-name: fadeOut;
  }
  .animate {
    animation-duration: 800ms;
  }
  .toast-container {
    z-index: 1010;
  }
  