.colorBodyText {
    color:rgb(180, 2, 48);
}
.benefits {
    background-color: rgb(168, 110, 123);
}
.banner {
    font-size: 40px;
}
.shadow {
    position: absolute;
    bottom: -25px;
    background-color: rgb(245, 232, 234);
    width: 103%;
    height: 61%;
    z-index: -1;
    max-height: 183px;
}
.bodyP {
    font-size: 35px;
    word-spacing: -3px;
    line-height: 31px;
}
.bodyTitle {
    font-size: 80px;
    line-height: 70px;
}
.imageDiv {
    position: relative;
    max-height: 300px;
    max-width: 800px;
    padding-left: 0px;
}