.eventsBanner {
    background-color: rgb(168, 110, 123);

}
.eventsLogo {
    width:350px;
    height:350px;
}

.launchMeeting {
    border: none;
    color:rgb(180, 2, 48);
    font-weight: bold;
    border-radius: 3px;
}
#eventTitle {
    font-size: 40px;
}
#eventPar {
    font-size: 35px;
}